Мы рады сотрудничать с Вами! <br>
Тут вы можете оставить заявку на добавление Вашей организации в базу данных бота GoToVladi. <br>
<br>
При составлении заявки укажите: <br>
1. Как Вас зовут <br>
2. Как называется Ваша компания <br>
3. Чем занимается Ваша компания (в произвольной форме) <br>
4. Какая категория бота Вам больше подходит <br>
5. Контакты для связи (почта / номер телефона) <br>
<br>
Мы обязательно рассмотрим Вашу заявку и свяжемся с Вами!