@import "bstr-button";

.submit-row { // страница редактирования, нижняя строка с кнопками
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  max-width: 100%;

  & > * {
    display: block;
  }
}

.form-group > input[type="checkbox"] { // checkbox
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 2em;
  height: 2em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #2c2c2c;
  }

  &:checked::before {
    transform: scale(1);
  }
}

.input-container { // кастомный input (empty template в SQLAlchemyFileUploadInput)
  & > label.file-upload-label {
    @include bootstrap-button;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
  }
}

.form-group > .select2-container.form-control { // select поля формы
  width: 100% !important;
}