@import "mixins/buttons";
@import "mixins/media";

.submit-row { // страница редактирования, нижняя строка с кнопками
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  max-width: 100%;

  & > * {
    display: block;
  }
}

form.admin-form > fieldset {
  & > hr {
    display: none;
  }

  & > .form-group:not(:last-child) {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding-bottom: 1rem;

    @include media_screen_max_width-992px {
      display: block;
    }

    & > label.control-label {
      width: 200px;
    }

    & > .form-control {
      width: auto;
      min-width: 500px;
      @include media_screen_max_width-992px {
        width: 100%;
        min-width: auto;
      }
    }

    & > textarea.form-control {
      flex: 1 1 auto;
      max-width: 1000px;
    }

    &:has(.inline-field) {
      display: block;
      position: relative;

      & > label {
        width: 100%;
        background: rgb(100, 107, 114);
        padding: 5px 5px 5px 15px;
        color: white;
        position: sticky;
        top: 0;
        z-index: 1;
      }

      &:not(:has(.inline-field.card)) { // скрытие инлайн формы при отсутствии инлайн элементов
        display: none;
      }
    }
  }

}

.form-group > input[type="checkbox"] { // checkbox
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 2em;
  height: 2em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;

  &::before {
    content: "";
    width: 1em;
    height: 1em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #2c2c2c;
  }

  &:checked::before {
    transform: scale(1);
  }
}

.input-container { // кастомный input (empty template в SQLAlchemyFileUploadInput)
  & > label.file-upload-label {
    @include bootstrap-button-primary;
    cursor: pointer;
  }
}

.form-group > .select2-container.form-control { // select поля формы
  //width: 100% !important;
}