{% extends "admin/model/create.html" %}
{% import 'admin/lib.html' as lib with context %}


{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/c/mailing.scss.css") }}">
{% endblock %}

{% block body %}

    {% call lib.form_tag(action=action) %}
        <div class="mail-form-header">Рассылка пользователям бота GoToVladi</div>

        {{ lib.render_form_fields(form, form_opts) }}
        <hr>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 submit-row">
                <input type="submit" class="btn btn-primary" value="Отправить"/>
                <a href="{{ return_url }}" class="btn btn-danger" role="button">{{ _gettext('Cancel') }}</a>
            </div>
        </div>
    {% endcall %}

{% endblock %}

